


@tailwind base;
@tailwind components;
@tailwind utilities;

button.answer[isselected=true] {
    background-color: #D6DBF5;
}

.top-design {
        transform: rotate(180.deg);
}
.bottom-design {
        transform: rotate(180.deg);
}


button:disabled {
        background-color: rgb(109, 109, 130);
}

