@tailwind base;
@tailwind components;
@tailwind utilities;


button.btn[selected=true] {
    background-color: #D6DBF5;
}



.top-design {
        transform: rotate(180.deg);
}
.bottom-design {
        transform: rotate(180.deg);
}